body {
  background: linear-gradient(135deg, #59c173, #a17fe0, #6d3acc);
  background-attachment: fixed;
}

h1 {
  text-align: center;
  background: linear-gradient(360deg, #54778b, #292e49);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0.5px 5px 3px #01060252;
}

.title-reveal-animation {
  animation: title-reveal-animation 1s cubic-bezier(0.25, 0.1, 0.25, 1) both;
}

@keyframes title-reveal-animation {
  0% {
    opacity: 0%;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
